<?xml version="1.0"?>
<config>
	<sections>
		<eb2cproduct translate="label" module="eb2cproduct">
			<label>Product</label>
			<tab>eb2c</tab>
			<frontend_type>text</frontend_type>
			<sort_order>500</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<item_master_feed translate="label">
					<label>Item Master Feed</label>
					<frontend_type>text</frontend_type>
					<sort_order>100</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<remote_path translate="label">
							<label>Remote Path</label>
							<comment>
								<![CDATA[Remote Path containing Order Status Feeds]]>
							</comment>
							<sort_order>1000</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</remote_path>
					</fields>
				</item_master_feed>
				<content_master_feed translate="label">
					<label>Content Master</label>
					<frontend_type>text</frontend_type>
					<sort_order>200</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<remote_path translate="label">
							<label>Remote Path</label>
							<comment>
								<![CDATA[Remote Path containing Order Status Feeds]]>
							</comment>
							<sort_order>1000</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</remote_path>
					</fields>
				</content_master_feed>
				<i_ship_feed translate="label">
					<label>iShip Feed</label>
					<frontend_type>text</frontend_type>
					<sort_order>300</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<remote_path translate="label">
							<label>Remote Path</label>
							<comment>
								<![CDATA[Remote Path containing Order Status Feeds]]>
							</comment>
							<sort_order>1000</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</remote_path>
					</fields>
				</i_ship_feed>
				<item_pricing_feed translate="label">
					<label>Item Pricing Feed</label>
					<frontend_type>text</frontend_type>
					<sort_order>400</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<remote_path translate="label">
							<label>Remote Path</label>
							<comment>
								<![CDATA[Remote Path containing Order Status Feeds]]>
							</comment>
							<sort_order>1000</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</remote_path>
					</fields>
				</item_pricing_feed>
				<image_export translate="label">
					<label>Image Meta Data Export</label>
					<sort_order>7500</sort_order>
					<frontend_type>text</frontend_type>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<is_enabled translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>
								<![CDATA[Image Meta Data Export Enabled?]]>
							</comment>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</is_enabled>
						<include_empty_galleries translate="label">
							<label>Include Empty Galleries</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<comment>
								<![CDATA[When set to 'Yes', also exports items for which no images have been specified]]>
							</comment>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</include_empty_galleries>
						<filename_format translate="label">
							<label>Filename Format</label>
							<comment>
								<![CDATA[Filename format for exported filename. Uses php date syntax. (See <a target='_phpDate' href='http://php.net/manual/en/function.date.php'>PHP Date Function</a>)]]>
							</comment>
							<sort_order>2</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</filename_format>
						<remote_path translate="label">
							<label>Remote Path</label>
							<comment>
								<![CDATA[Remote Path - exported XML placed here]]>
							</comment>
							<sort_order>2</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</remote_path>
					</fields>
				</image_export>
				<image_export_message_header>
					<label>Image Export Message Header</label>
					<frontend_type>text</frontend_type>
					<sort_order>7501</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<standard translate="label">
							<label>Standard</label>
							<sort_order>1</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</standard>
						<version translate="label">
							<label>Version</label>
							<sort_order>2</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</version>
						<source_data_id translate="label">
							<label>Source Data Id</label>
							<sort_order>3</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</source_data_id>
						<source_data_type translate="label">
							<label>Source Data Type</label>
							<sort_order>4</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</source_data_type>
						<destination_data_id translate="label">
							<label>Destination Data Id</label>
							<sort_order>5</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</destination_data_id>
						<destination_data_type translate="label">
							<label>Destination Data Type</label>
							<sort_order>6</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</destination_data_type>
						<event_type translate="label">
							<label>Event Type</label>
							<sort_order>7</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</event_type>
						<message_data_id translate="label">
							<label>Message Data Id</label>
							<sort_order>8</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</message_data_id>
						<message_data_correlation_id translate="label">
							<label>Message Data Correlation Id</label>
							<sort_order>9</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</message_data_correlation_id>
					</fields>
				</image_export_message_header>
			</groups>
		</eb2cproduct>
	</sections>
</config>
